[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group saml/odl-gerrit-p4plugin-committers
	read = group GitHub Replication
[project]
	description = P4 Plugin - Archived\n\nhttps://lists.opendaylight.org/g/Discuss/message/8930
	state = read only
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/master:refs/heads/master
